.header{
    width: 100%;
    padding: 0.5rem 10%;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #090909;
    color: white;
    display: flex;
    align-items: center;
    justify-content: start;
}